html, body {
    background-color: #262626;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.equations {
    width: 30vw;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #1a1a1a;
    display: flex;
}

.equationTemplate {
    width: 100%;
    height: 10vh;
    border: 1px #fff;
    outline: none;
    background-color: #262626;
    color: #fff;
    font-size: 3vh;
}