@font-face {
    font-family: 'Cambria Math';
    src: url("./cambria-math.ttf");
}

html, body {
    background-color: #262626;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    color: #fff;
}

.equations {
    width: 30vw;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #1a1a1a;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    display: none;
}

.equationWrapper {
    margin: 0;
    height: 10vh;
    border: 1px #575757 solid;
    outline: none;
    background-color: #262626;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3vw;
}

.equationWrapper + .equationWrapper {
    border-top: none;
}

.newMatrix {
    width: 2vw;
    height: 3vh;
    margin-left: 1vw;
    margin-right: 1vw;
    background-color: #1a1a1a;
    outline: none;
    border: none;
    color: #fff;
    font-family: "Cambria Math";
    text-align: center;
}

.matrix {
    width: calc(30vw - 2px);
    height: 15vh;
    background-color: #262626;
    border: 1px #575757 solid;
    display: grid;
    align-items: center;
    justify-content: center;
}

.matrixVal {
    width: 2vw;
    height: 3vh;
    margin-left: 1vw;
    margin-right: 1vw;
    background-color: #1a1a1a;
    outline: none;
    border: none;
    color: #fff;
    font-family: "Cambria Math";
    text-align: center;
}

.graph {
    position: absolute;
    left: 30vw;
    top: 0;
    margin: 0;
}